@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
    --background-color: #f5f5f5;
    --header-color: #cccccc;
    
    --input-textfiild-color: #cccccc;
    --input-textfiild-color-focus: #666666;
    --check-all-button-color: #e6e6e6;
    --input-background-color: #ffffff;

    --todo-text-color: #666666;
    --todo-text-color-checked: #cccccc;
    --todo-backgound-color: #ffffff;
    --todo-background-color-hover: #fafafa;
    --todo-checkbox-color: #e6e6e6;
    --todo-checkbox-color-hover: #d7d7d7;
    --todo-checkbox-color-checked: #00cab3;
    --todo-delete-button-color: #f1dede;
    --todo-border-color: #ececec;

    --active-radiobutton-color: #f1dede;
    --footer-text-color: #9d9d9d;

    --main-width: 560px;
    --input-textfield-height: 62px;
    --todo-height: 60px;
    --todo-text-width: 460px;
    --footer-height: 40px;


    --main-font: "Roboto", sans-serif;
}

body {
    background-color: var(--background-color);
}

.container {
    width: var(--main-width);
    margin: auto;
    margin-top: 150px;
}

/* Header */
header {
    width: fit-content;
    align-items: center;
    margin: auto;
    font-size: 58px;
}

header h1 {
    font-weight: 100;
    color: var(--header-color);
    font-family: var(--main-font);
    margin: 0;
}

/* Body of rest widnows */
.white_body {
    box-shadow: 0px 2px 5px rgb(185, 185, 185);
    background-color: white;
}

/* Section with text field and check all button */
/* General style */
.new_todo {
    height: var(--input-textfield-height);
    display: flex;
    border: none;
    width: 100%;
    border-bottom: solid var(--todo-border-color) 1px;
}

.new_todo button {
    cursor: pointer;
    width: var(--input-textfield-height);
    background: url(images/select_all.svg) no-repeat;
    background-position: center;
    background-color: var(--input-background-color);
    border: none;
}

.new_todo input {
    width: 100%;
    font-style: normal;
    font-weight: 100;
    color: var(--input-textfiild-color-focus);
    font-family: var(--main-font);
    border: none;
    font-size: 24px;
}

.new_todo input::placeholder {
    font-style: italic;
    font-weight: 100;
    color: var(--input-textfiild-color);
}

/* List of todos */
/* Font */
.todos_list span {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 300;
    color: var(--todo-text-color);
}

/* Make default list style invisible */
.todos_list ul {
    list-style-type: none;
    padding-left: 0%;
    margin: 0%;
}

/* Border and size of each todo element*/
.todos_list li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid var(--todo-border-color) 1px; 
}

.todos_list .wrapper {
    display: inline-flex;
}

.todos_list .text {
    width: 480px;
    height: 100%;
    vertical-align: middle;
}

/* Element remove buttons */
.todos_list button {
    float: right;
    width: 30px;
    height: 30px;
    background: url(images/remove.svg) no-repeat;
    background-position: center;
    background-color: var(--todo-backgound-color);
    border: none;
    margin-right: 5px;
    opacity: 0;
}

.todos_list li:hover {
    background-color: var(--todo-background-color-hover);
}

.todos_list li:hover button {
    background-color: var(--todo-background-color-hover);
    opacity: 1;
}

.todos_list li button:focus {
    opacity: 1;
}

/* Check button */
.todos_list input {
    width: 50px;
    height: 0px;
    opacity: 1;
}

/* Face circle */
.todos_list input::after {
    cursor: pointer;
    content: '';
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: -8px;
    margin-left: 5px;
    border-radius: 50%;
    border: solid var(--todo-checkbox-color) 1px;
    background-color: #FFF;
    vertical-align: middle;
}

.todos_list li:hover input::after {
    border: solid var(--todo-checkbox-color-hover) 1px;
}

.todos_list .todo input:checked::after {
    border: solid var(--todo-checkbox-color-checked) 1px;
    background: url(images/checked.svg) no-repeat;
    background-position: center;
}

.todos_list .todo input:checked + div span {
    text-decoration: line-through;
    color: var(--todo-text-color-checked)
}

/* Footer */
/* Footer location and element positioning */
footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
}

/* Elements left text */ 
footer span {
    margin-left: 5px;
}

/* Radiobuttons style */
/* Make actual radiobuttons invisible*/
.switchs .radio {
    width: 0;
    height: 0;
    opacity: 0;
}

.switchs .buttons {
    display: flex;
}

.switchs .radio:checked + label {
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: lightgray solid 1px;
}

.switchs label {
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

/* Clear all button */
footer button {
    border: none;
    margin-right: 3px;
    background-color: white;
    cursor: pointer;
}

footer button, 
footer label,
footer span {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--footer-text-color)
}
